.main-container {
  margin: 40px 5%;
  display: flex;
  justify-content: space-between;
}

.left-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $cream;
  // border: 1px solid rgb(199, 199, 199);
  border-radius: 10px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
}

.related-adverts {
  width: 100%;
  a {
    text-decoration: none;
    color: black;
  }
}

.pet-description {
  padding: 20px;
}

.right-container {
  width: 23%;
}

.user-information {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  // border-bottom: 1px solid lightgray;
  padding: 10px;
}

.user-details {

  h3 {
    margin: 0;
  }
  p {
    margin: 0;
  }
}

.card-buttons {
  display: flex;
  justify-content: space-between;
}

.selected-image {
  height: 400px;
  width: 500px;
  background-color: rgb(51, 51, 51);
}

.advert-stats {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.stat {
  width: 250px;
  height: 75px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    margin: 0;
  }
}

.user-avatar {
  background-color: rgb(51, 51, 51);
  height: 90px;
  width: 90px;
  min-width: 90px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-pet-card {
  background-color: $cream;
  padding: 10px;
  border-radius: 10px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.btn-gradient {
  color: white;
  padding: 8px 8px;
  border-radius: 4px;
  font-weight: bold;
  background: $red;
  transition: background 0.3s ease;
}

.button {
  color: white;
  padding: 8px 8px;
  border-radius: 4px;
  font-weight: bold;
  background-color: $yellow;
  transition: background 0.3s ease;
  // border: 1px solid #0F60C4;
  margin-bottom: 10px;
  text-align: center;
  p {
    margin: 0;
  }
}

#message-button {
  background-color: $lightblue;
}

#message-button:hover {
  background-color: #7ad8dd;
  color: $darkgreen;
  transition: 0.2s;
}

#buy-button {

}

#buy-button:hover {
  background-color: #e77676;
  color: $darkgreen;
  transition: 0.2s;
}

.show-button {
  width: 100%;
  margin-bottom: 10px;
}

.show-button-half {
  margin-bottom: 10px;
}

.buttons-container {
  padding-top: 10px;
  width: 90%;
  margin: 0 auto;
}

.widget {
  position: sticky;
  top: 13vh;
}

.card-product {
  width: 100%;
  overflow: hidden;
  height: 120px;
  background: $cream;
  // box-shadow: 0px 0px 2px 0px $darkcream;
  border-bottom: 2px solid $darkcream;
  // border-right: 1px solid $darkcream;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
