<div class="container-cards">
  <div class="cards">

  <% @pets.each do |pet| %>
    <%= link_to pet_path(pet) do %>

     <div class="card-trip">
      <%= cl_image_tag pet.photo.key, height: 300, width: 400, crop: :fill %>
        <div class="card-trip-infos">
          <h2><%= pet.title %></h2>
          <span>&#8364;</span><h6><%= pet.price %><h6>
        <p></p>
        </div>
    </div>
<% end %>
    </div>
    <% end %>
  </div>
</div>
