<div class="container-cards">
  <div class="cards">

  <% @pets.each do |pet| %>
    <%=link_to pet_path(pet) do %>

     <div class="card-trip">
      <%= image_tag pet.image_url, height: 300, width: 400, crop: :fill %>
      <div class="card-trip-infos">
      <h2><%= pet.title %></h2>
      <h6><%= pet.price %><h6>
      <p></p>
      </div>
    </div>
<% end %>
<% end %>

    </div>
    </div>
