<h2><%#= @pet.specie %></h2>
<p><%#= @pet.breed %></p>
<p><%#= @pet.price %></p>
<p><%#= @pet.address %></p>
<%#= link_to "Back to list", pets_path%>

<div class="main-container">
  <div class="left-container">
    <div class="selected-image">

    </div>
    <div class="other-images">

    </div>
    <div class="advert-stats">

    </div>
  </div>
  <div class="right-container">
    <div class="button">

    </div>
    <div class="button">

    </div>
    <div class="button">

    </div>
    <div class="user-pet-card">
      <div class="user-information">
        <div class="user-avatar">

        </div>
        <div class="user-details">

        </div>
      </div>
      <div class="card-buttons">
        <div class="button">

        </div>
        <div class="small-button">

        </div>
        <div class="small-button">

        </div>
      </div>
    </div>
  </div>
</div>
