<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <h1 class="display-2 text-center">Pets Lover</h1>
  <%# <h4 class="display-8 text-center"><strong>Find your pet!</strong></h4> %>
</div>
