.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 10px 10px rgba(0,0,0,0.2);
  object-fit: contain;
  width: 340px;
  height: 300px;
  border-radius: 30px;
  color: green;
  align-items: center;
}

.card-trip > img {
  height: 250px;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  position: relative;
  align-items: baseline;
  justify-content: space-evenly;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.container-cards {
  width: 85%;
  margin: 0 auto;
  text-decoration: none;
}

span {
  content: "\20AC";
}

a {
  text-decoration: none;
}

.card-trip-infos {
  display: flex;
  flex-direction: row;
}
