.cover {
  background-image: url(asset_path('banner.jpg'));
  height: 300px;
  width: 100%;
  background-size: center;
  background-repeat: no-repeat;
  background-position: top;
  background-color: white;
}
