.container {
  // background-color: white;
}

.contform {
  // background-color: white;
  margin-top: -40px;
  max-width: 1600px;
  height: 73vh;
}

.form {
  // background-color: white;
  padding: 10px;
  margin: 20px;
  border-radius: 10;
}

.img-left{
  background-image: asset-url("dog-background1.png");
  background-size: cover;
  background-position: center center;
  border-radius: 10px;
}

.img-back{
  background-image: asset-url("dog-background2.jpg");
  background-size: cover;
  background-position: center center;
}

.img-fit {
  height: 73vh;
  width: 68vw;
  border-radius: 10px;
}

.transparent{
  visibility: hidden;
}

.show-photo {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
