.navbar {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0px;
  margin-bottom: 40px;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}
