.navbar {
  justify-content: space-between;
  background: $cream;
  position: sticky;
  top: 0px;
  h2 {
    color: $darkgreen;
    font-weight: 700;
    padding-left: 25px;
  }
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}
