.navbar {
  justify-content: space-between;
  background: $back;
  position: sticky;
  top: 0px;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.website-name {
  margin-left: 15px;
}
